body{
    background: url("/bg_sky.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.container{
    height: 100svh;
}

.container > .row{
    height: 100%;
    
}