#root{
    background-color: #4FAFBF;
    background: url("/bg_sky.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.section, .container, .container > .row{
    min-height: 100vh;
}